@import '../../theme/index.scss';

.cta {
  @include font-bold;
  border: 0.125rem solid $primary;
  margin: 0;
  padding: 0.625rem 2.625rem;
  border-radius: 5rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.625rem;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  width: 100%;
  min-height: 3.125rem;
  transition: 0.2s all;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }

  @include mobile {
    font-size: 1rem;
  }
}
.lite {
  @extend .cta;
  background: none;
  border-color: none;
  text-transform: none;
  text-align: left;
  border: none;
  padding: 0;
  display: inline;
  color: $primary;
  min-height: unset;
  width: unset;
  svg {
    margin-left: 0.5rem;
  }
}
.btnWrapper {
  width: 100%;
}

.primary {
  @extend .cta;
  background: $primary;
  border-color: $primary;
  color: $white;

  &.primaryHover {
    @media (hover: hover) {
      &:hover {
        &:not(:disabled) {
          background-color: $dark;
          border-color: $dark;
        }
      }
    }
  }

  &.secondaryHover {
    @media (hover: hover) {
      &:hover {
        &:not(:disabled) {
          background-color: $white;
          border-color: $white;
          color: $primary;
        }
      }
    }
  }
}

.secondary {
  @extend .cta;
  border-color: $dark;
  background-color: $dark;
  color: $white;

  &.primaryHover {
    &:hover {
      &:not(:disabled) {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }

  &.secondaryHover {
    &:hover {
      &:not(:disabled) {
        background-color: $white;
        border-color: $white;
        color: $primary;
      }
    }
  }
}

.tertiary {
  @extend .cta;
  border-color: $dark;
  background: transparent;
  color: $dark;

  &.primaryHover {
    &:hover {
      &:not(:disabled) {
        background-color: $dark;
        border-color: $dark;
        color: $white;
      }
    }
  }

  &.secondaryHover {
    &:hover {
      &:not(:disabled) {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }
}
