@mixin font-regular {
  font-family: 'PP Object Sans';
}

@mixin font-medium {
  font-family: 'PP Object Sans Medium';
}

@mixin font-bold {
  font-family: 'PP Object Sans Bold';
}

@mixin font-regular-bandwidth {
  font-family: 'Bandwidth Display';
}

